[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[dev-packages]

"flake8" = "*"
pycodestyle = "*"
yapf = "*"
isort = "*"
"autopep8" = "*"
cryptography = "*"
pyyaml = "*"
pytest = "*"
pytest-cov = "*"
tox = "*"
pipenv-to-requirements = "*"
"flake8-coding" = "*"
"flake8-comprehensions" = "*"
sphinx = "*"
sphinx-autobuild = "*"
pytest-pythonpath = "*"
pytest-timeit = "*"
ipython = "*"


[packages]

pbr = ">=3.0"
"9667247" = {path = "./../apistar"}
