[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[dev-packages]

"flake8" = "*"
yapf = "*"
isort = "*"
pytest = "*"
pytest-cov = "*"
pipenv-to-requirements = "*"
"flake8-coding" = "*"
"flake8-comprehensions" = "*"
pytest-pythonpath = "*"
ipython = "*"
"e1839a8" = {path = ".", editable = true}
twine = "*"


[packages]

pbr = ">=3.0"
apistar = "*"
pony = {git = "https://github.com/ponyorm/pony.git", ref = "orm-migrations", editable = true}
